body {
    background-color: antiquewhite;
}

h1 {
    color: rgb(134, 107, 71);
    background-color: rgba(224, 191, 150, 0.603);
    font-family: 'Franklin Gothic Medium';
}

h2 {
    font-style: oblique;
    color: rgb(134, 107, 71);
}

h3 {
    color: rgb(134, 107, 71);
    font-family: 'Lucida Sans';
}

p {
    font-family: 'Verdana';
    color: rgb(44, 26, 4);
}

